@charset "utf-8";

#game-board {
    justify-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px;
}

.node {
    height: 60px;
    width: 60px;
}

.node-t {
    visibility: visible;
    font-size: 15pt;
    color: #D4D4D4;
	background-color:#F1F1F1;
}
.node-t-alternate {
    visibility: visible;
    font-size: 15pt;
    color: #D4D4D4;
	background-color:#342020;
}

.node-f {
    font-size: 15pt;
    color: #D4D4D4;
	border-color: white;
    visibility: visible;
	background-color:#F1F1F1;
}

.node-clicked {
	border-radius: 10px;
	border-width: 5px;
	border-style:solid;
    border-color: #D4D4D4;
	visibility: visible;
	background-color:#786464;
	font-size: 0pt;
}

.dark-mode {
    --page-background-color: #1D1D1D;
    --text-color: #ffffff;
    --link-color: #67b2e8;
    --link-hover-color: #60bec9;
    /* Update other styles accordingly */
}

/* Update game node styles for dark mode */
.dark-mode .node-t {
    background-color: #454545;
    color: #262626;
}
.dark-mode .node-t-alternate {
    background-color: #D0D0D0;
    color: #262626;
}

.dark-mode .node-f {
    background-color: #454545;
    color: #262626;
}

.dark-mode .node-clicked {
	border-radius: 10px;
	border-width: 5px;
	border-style:solid;
    border-color: #262626;
	visibility: visible;
	background-color:#969696;
	font-size: 0pt;
}
.dark-mode #game-board > .node {
    border-color: #1D1D1D; /* Adjust border color */
}